body,
header,
section,
div,
p,
button,
ul,
ol,
li,
img {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background-color: rgb(36, 35, 35);
  width: 100vw;
  height: 100vh;
}
